@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body{
  background-color: #f2f5f7;
}

button:focus {
  outline:0;
}

* {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
}

.main-wrapper{
  width: 60%;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2em auto;
  background-color: #ffffff;
  padding: 1em 2em;
}

.table {
  width: 100%;
  max-width: 100%;
}

table thead tr td {
  font-weight: bold;
}

table tr td {
  width: 33%;
}

.table-bordered {
   border: 1px solid #b5b5b5;
}

.table-striped  > tbody > tr:nth-of-type(odd){
   background-color: #f2f5f7;
}

.img-responsive {
   width: 100%;
   height: auto;
}

.img-small{
  max-width: 200px;
}

.img-radius{
   border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.img-mini{
  max-width: 30px;
  display: inline-block;
}

.text-center {
  text-align: center !important;
}

.game-button {
  background-color: #fff;
  display: inline-block;
  -webkit-appearance:none;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; 
  border: 1px solid #b5b5b5;
  white-space: nowrap;
  padding: 1em;
}

.game-button:hover{
  border: 2px solid orange;
  background-color: #e3e6e8;
}

.game-button span{
  width: 100%;
  display: block;
}

.game-play-button {
    min-height: 10em;
    width: 70%;
}

.game-play-buttons {
  width: 100%;
  clear: both;
  padding: 1em 0;
}

.game-button-item {
  width: 33%;
  float: left;
}

.game-reset{
  width: 100%;
  clear: both;
  padding: 1em 0;
}

.game-reset-button {
    min-height: 4em;
    width: 50%;
}

.game-scores{
  width: 100%;
  clear: both;
}


.game-history{
  width: 100%;
  clear: both;
  padding: 2em 0;
}

.draw {
  color: #8a6d3b !important;
}

.success{
  color: #3c763d !important;
}

.failure{
  color: #a94442 !important;
}

@media only screen and (max-width: 480px) {
  .main-wrapper{
    width: 90%;
  }
}


